<div class="edit_schedule_body">
<%= form_with url: room_user_groupschedule_path(@room,@user), method: :patch, html: { class: 'edit_schedule_contents' } do %>
 <% (0..6).each do |n| %>
      <div class="edit_schedule_date">
        <div class="edit_list_day">
          <% japanese_days = ["日", "月", "火", "水", "木", "金", "土"] %>
          <% base_date = @target_week_dates.first %>
          <h4><%= (base_date + n).strftime('%Y年%m月%d日') %> (<%= japanese_days[(base_date + n).wday] %>) のメンバーリスト</h4>
        </div>

				<div><日中の予定></div>
				<% @schedules.select { |schedule| schedule.day == (n + 1) }.each do |schedule| %>
					<%= render_group(schedule, 1, 'daytime', n) %>
					<%= render_group(schedule, 2, 'daytime', n) %>
					<%= render_group(schedule, 3, 'daytime', n) %>
				<% end %>
				
				<div><20時~の予定></div>
				<% @schedules.select { |schedule| schedule.day == (n + 1) }.each do |schedule| %>
  			 <%= render_group(schedule, 1, '20pm', n) %>
  			 <%= render_group(schedule, 2, '20pm', n) %>
  			 <%= render_group(schedule, 3, '20pm', n) %>
				<% end %>
				
				<div><21時~の予定></div>
				<% @schedules.select { |schedule| schedule.day == (n + 1) }.each do |schedule| %>
 			   <%= render_group(schedule, 1, '21pm', n) %>
  			 <%= render_group(schedule, 2, '21pm', n) %>
			   <%= render_group(schedule, 3, '21pm', n) %>
				<% end %>
		
								
				<div><22時~の予定></div>
				<% @schedules.select { |schedule| schedule.day == (n + 1) }.each do |schedule| %>
 				 <%= render_group(schedule, 1, '22pm', n) %>
  			 <%= render_group(schedule, 2, '22pm', n) %>
  			 <%= render_group(schedule, 3, '22pm', n) %>
				<% end %>

</div>
<% end %>
</div>


  <%= submit_tag 'ゲームを決定する', class: 'schedule-button' %>
  <% end %>