<% japanese_days = ["日", "月", "火", "水", "木", "金", "土"] %>
  <% base_date = @target_week_dates.first %> <!-- 基準日を取得 -->
  <span><%= base_date.strftime('%Y年%m月%d日') %> (<%= japanese_days[base_date.wday] %>) からのメンバーの予定</span>
<div class="schedule_main_box">

		<div class="schedule_index_box">
    <% (0..6).each do |n| %>
      <div class="member_schedule">
        <div class="list_day">
          <h4><%= (base_date + n).strftime('%Y年%m月%d日') %> (<%= japanese_days[(base_date + n).wday] %>) のメンバーリスト</h4>
        </div>
    
        <% times = {"日中から" => ["day#{n + 1}", "1", "5"], "20時から" => ["day#{n + 1}", "2", "6"], "21時から" => ["day#{n + 1}", "4", "7"], "22時から" => ["day#{n + 1}", "4", "8"], "おやすみ" => ["day#{n + 1}", "4", "9"] } %>

        <% filtered_ownplans = @ownplans.select { |ownplan| ownplan["day#{n + 1}"] } %>
<div class="pull_down">
        <% times.each do |label, conditions| %>
          <h4>・<%= label %>のメンバー</h4>
          <ul>
            <% found_members = false %>
            <% filtered_ownplans.each do |ownplan| %>
              <% conditions[1..-1].each do |condition| %>
                <% if ownplan[conditions[0]] == condition %>
                  <li><%= ownplan.user.nickname %> (<%= "希望頻度 #{ownplan.frequency.name}" %>) <% if condition == "5" || condition == "6" || condition == "7" || condition == "8" %>(タイマン希望)<% end %></li>
                  <% found_members = true %>
                <% end %>
              <% end %>
            <% end %>
            <% unless found_members %>
              <li>対象となるメンバーはいません</li>
            <% end %>
            <br />
          </ul>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
<!-----------------------------------------グループの組み合わせ表示機能------------------------------------------------------->
  <%= form_with model: @groupschedules, url: room_user_groupschedules_path(@room, @user), local: true, html: { class: 'make_schedule_form' } do |f| %>
    <% (0..6).each do |n| %>
      <div class="schedule_maker">
        <div class="list_day">
          <% base_date = @target_week_dates.first %>
          <h4><%= (base_date + n).strftime('%Y年%m月%d日') %> (<%= japanese_days[(base_date + n).wday] %>) のグループの組み合わせ　※クリックで表示/非表示</h4>
        </div>
      <div class="pull_down">
        <h4>・日中に遊べるグループ</h4>
        <% @time_key = "daytime" %>
        <% found_members = [] %>
        <% @ownplans.each do |ownplan| %>
          <% if ownplan["day#{n + 1}"] == "1" || ownplan["day#{n + 1}"] == "5" %>
            <% found_members << { name: ownplan.user.nickname, wants_solo: ownplan["day#{n + 1}"] == "5", id: ownplan.user.id } %>
          <% end %>
        <% end %>

          <%= render partial: "form", locals: { found_members: found_members, n: n ,time_key: @time_key}%>
 <!-----------------------------------------20時からのグループの記述--------------------------------------------------->
 <div class="line">---------------------------------------------------------------------------------</div>

    </br><h4>・20時から遊べるグループ</h4>
    <% @time_key = "20pm" %>
<% found_members = [] %>
<% @ownplans.each do |ownplan| %>
  <% if ownplan["day#{n + 1}"] == "2" || ownplan["day#{n + 1}"] == "6" %>
    <% found_members << { name: ownplan.user.nickname, wants_solo: ownplan["day#{n + 1}"] == "6", id: ownplan.user.id } %>
  <% end %>
<% end %>

<%= render partial: "form", locals: { found_members: found_members, n: n ,time_key: @time_key}%>
 <!------------------------------------------21時からのグループの記述------------------------------------------------------------->
                <div class="line">---------------------------------------------------------------------------------</div>
                </br><h4>・21時から遊べるメンバー</h4>
                <% @time_key = "21pm" %>
                <% found_members = [] %>
                <% @ownplans.each do |ownplan| %>
                  <% if ownplan["day#{n + 1}"] == "2" || ownplan["day#{n + 1}"] == "6" %>
                  <% found_members << { name: ownplan.user.nickname, wants_solo: ownplan["day#{n + 1}"] == "6", id: ownplan.user.id } %>
                <% end %>
                  <% if ownplan["day#{n + 1}"] == "3" || ownplan["day#{n + 1}"] == "7" %>
                    <% found_members << { name: ownplan.user.nickname, wants_solo: ownplan["day#{n + 1}"] == "7", id: ownplan.user.id } %>
                  <% end %>
                <% end %>          

           <%= render partial: "form", locals: { found_members: found_members, n: n ,time_key: @time_key}%>
   <!------------------------------------------22時からのグループの記述------------------------------------------------------------->
              <div class="line">---------------------------------------------------------------------------------</div>
                </br><h4>・22時から遊べるグループ</h4>
                <% @time_key = "22pm" %>
                <% found_members = [] %>
                <% @ownplans.each do |ownplan| %>
                  <% if ownplan["day#{n + 1}"] == "2" || ownplan["day#{n + 1}"] == "6" %>
                  <% found_members << { name: ownplan.user.nickname, wants_solo: ownplan["day#{n + 1}"] == "6", id: ownplan.user.id } %>
                <% end %>
                  <% if ownplan["day#{n + 1}"] == "3" || ownplan["day#{n + 1}"] == "7" %>
                    <% found_members << { name: ownplan.user.nickname, wants_solo: ownplan["day#{n + 1}"] == "7", id: ownplan.user.id } %>
                  <% end %>
                  <% if ownplan["day#{n + 1}"] == "4" || ownplan["day#{n + 1}"] == "8" %>
                    <% found_members << { name: ownplan.user.nickname, wants_solo: ownplan["day#{n + 1}"] == "8", id: ownplan.user.id } %>
                  <% end %>
                <% end %>
                
                <%= render partial: "form", locals: { found_members: found_members, n: n ,time_key: @time_key}%>
        </div>
      </div> 
    <% end %>
          <%= submit_tag "選択したグループを送信" %>
      <% end %>
  </div> 
