<h1>マイページ</h1>

<div class="show_user">
<a class="show_user_content" href="<%= check_edit_user_path(@user) %>">
        <div class="game_name"><%= @user.nickname %></div>
        <div class="game_image"> <%= @user.my_image.attached? ? image_tag(@user.my_image) : image_tag('sample.jpg') %></div>
				<div class="user_career"><%= @user.career ? "ゲーム歴：#{@user.career.name}" : 'ゲーム歴情報なし' %></div>
        <div class="user_likes"><%= "好き：#{@user.likes}" %></div>
        <div class="user_weakness"><%= "苦手：#{@user.weakness}" %></div>
        <div class="user_sns"><%= @user.sns.present? ? "SNS:#{@user.sns}" : 'SNS:なし' %></div>
				<div class="joined_rooms">
				<% if Room.exists?(id: @user.join1) || Room.exists?(id: @user.join2) || Room.exists?(id: @user.join3) %>
				<% if @user.join1.present? %>
				<% room1 = Room.find_by(id: @user.join1) %>
						<div class="joined_room_name">参加中のルーム1: <%= room1.room_name %></div>
						<%= button_to 'ルーム1の参加を解除', clear_join_user_path(@user), method: :patch, params: { join_type: 'join1' }, onclick: "return confirm('本当にルームを退会しますか？')" %>
					<% end %>
			
				<% if @user.join2.present? %>
					<% room2 = Room.find_by(id: @user.join2) %>
						<div class="joined_room_name">参加中のルーム2: <%= room2.room_name %></div>
						<%= button_to 'ルーム2の参加を解除', clear_join_user_path(@user), method: :patch, params: { join_type: 'join2' }, onclick: "return confirm('本当にルームを退会しますか？')" %>

				<% end %>
			
				<% if @user.join3.present? %>
					<% room3 = Room.find_by(id: @user.join3) %>
						<div class="joined_room_name">参加中のルーム3: <%= room3.room_name %></div>
						<%= button_to 'ルーム3の参加を解除', clear_join_user_path(@user), method: :patch, params: { join_type: 'join3' }, onclick: "return confirm('本当にルームを退会しますか？')" %>
				<% end %>
			<% end %>

			</div>
			
        <div class="user_note"><%= raw @user.note %></div>
				
  </a>
</div>
