<div class="ownplan_body">
  <div class="make_plans">
    <span>予定確認を始める 起点の日を決めてください</span>
    <%= form_with(model: @ownplan, url: room_user_ownplans_path(@room, @user), method: :post, local: true, html: { class: "week_plan" }) do |form| %>
      <%= form.date_field :target_week, class: "target_week_input" %> 
      <%= form.submit "更新する", class: "make_plan_submit", onclick: "return confirm('現在のメンバーの予定も削除されます。続行しますか？');" %>
    <% end %>
    <div class ="week_maker">
    <% if @weekplan.starter == 1 %>
      前回の作成者なし
    <% else %>
      前回の予定作成者: <%= @weekplan.user.nickname %>
    <% end %>
    </div>
  </div>

  <%= form_with model: @ownplan, url: create_plan_room_user_ownplans_path(@room, @user), method: :post do |f| %> 
    <div class="own_plans">
      <div class="frequency_box">
        <span>今週の遊べる回数</span>
        <%= f.collection_select(:frequency_id, Frequency.all, :id, :name, {}, {class:"frequency_select"}) %>
      </div>
      
      <% if @weekplan.present? && @weekplan.target_week.present? %>
        <% start_date = @weekplan.target_week.to_date %>
        <% (0..6).each_with_index do |i, index| %>
          <% date = start_date + i.days %>
          <div class="plan_box">
            <b><%= "#{date.strftime('%m/%d')} (#{case date.wday
              when 0 then '日'
              when 1 then '月'
              when 2 then '火'
              when 3 then '水'
              when 4 then '木'
              when 5 then '金'
              when 6 then '土'
              end})" %></b>

            <% day_value = @ownplan.try("day#{index + 1}") %>

            <div class="plan_radio">この日は休み<label><%= radio_button_tag "options[#{index + 1}]", "9", day_value == "9" %> </label></div>
            <div class="plan_radio">日中<label><%= radio_button_tag "options[#{index + 1}]", "1", day_value == "1" %> </label></div>
            <div class="plan_radio">20時から<label><%= radio_button_tag "options[#{index + 1}]", "2", day_value == "2" %> </label></div>
            <div class="plan_radio">21時から<label><%= radio_button_tag "options[#{index + 1}]", "3", day_value == "3" %> </label></div>
            <div class="plan_radio">22時から<label><%= radio_button_tag "options[#{index + 1}]", "4", day_value == "4" %> </label></div>
            <div class="plan_radio">タイマンで日中<label><%= radio_button_tag "options[#{index + 1}]", "5", day_value == "5" %> </label></div>
            <div class="plan_radio">タイマンで20時から<label><%= radio_button_tag "options[#{index + 1}]", "6", day_value == "6" %> </label></div>
            <div class="plan_radio">タイマンで21時から<label><%= radio_button_tag "options[#{index + 1}]", "7", day_value == "7" %> </label></div>
            <div class="plan_radio">タイマンで22時から<label><%= radio_button_tag "options[#{index + 1}]", "8", day_value == "8" %> </label></div>
          </div>
        <% end %>
      <% else %>
        <div>日付が設定されていません。</div>
      <% end %>
        <% if @ownplan.persisted? %>
      <%= link_to "予定を削除する", "#", onclick: "if(confirm('本当にこの予定を削除しますか？')) { event.preventDefault(); document.getElementById('ownplan_delete-form').submit(); } else { event.preventDefault(); }", class: 'plan_delete' %>
        <% end %>

      <%= submit_tag "予定を更新する", class: "btn-primary" %>
    </div>
  <% end %>
  <% if @ownplan.persisted? %>
  <%= form_with(url: room_user_ownplan_path(@room, @user, @ownplan), method: :delete, id: 'ownplan_delete-form', style: 'display: none;') do %>
  <% end %>

<% end %>
</div>