<%= form_with model: @room, local: true do |f| %>
	<%= render "devise/shared/error_messages", resource: @room %>

	<div class='room-form__field'>
	 <p>トップ画面に表示する画像をアップロード</p>
			<%= f.file_field :image_rooms, id:"item-image" %>
			 <label for="item-image">クリックしてアップロード</label>
	</div>
	<div class='room-form__field'>
		<%= f.label :room_name, 'ルーム名', class: '' %>
		<%= f.text_field :room_name, class: '', placeholder: '新規ルーム名を入力してください' %>
	</div>
	
	<div class='room-form__field'>
   <%= f.label :contact, '連絡先' %>
   <%= f.text_field :contact, class: '', placeholder: 'ルームに関連するSNSのURL（discord等）を入力してください' %>
	</div>
	<% if current_user.id == @room.creator_id%>
	<%= f.submit 'ルームを編集', class: '' %>
 <% else %>
	<%= f.submit 'ルーム作成', class: '' %>
	<% end %>


<% end %>
<% if current_user.id == @room.creator_id%>
<div class="game_delete">
<%= link_to "ルームを削除する", room_path(@room), onclick: "if(confirm('本当にこのルームを削除しますか？')) { event.preventDefault(); document.getElementById('room_delete-form').submit(); } else { event.preventDefault(); }" %>
<%= form_with(url: room_path(@room), method: :delete, id: 'room_delete-form', style: 'display: none;') do %>
<% end %>
</div>
</div>
<% end %>