 <div class="top_body">
  <% @rooms.each do |room|%>
  <a href="#" class="passwordLink" data-room-id="<%= room.id %>">
    <div class="top_leftbox">
     <div class= "top_image">
     <%= image_tag room.image_rooms if room.image_rooms.attached? %>
     </div>
     </div>
      <div class="top_rightbox">
       <div class="room_name">
        <%= room.room_name %>
       </div>
       <div class="top_right_under">
       <div class="room_contact">
      <%= "SNS:#{room.contact}"%>
       </div>
       <div class="room_orner">
       <% if room.creator %>
       <p>作成者: <%= room.creator.nickname %></p>
     <% else %>
       <p>匿名希望</p>
     <% end %>
       </div>
      </div>
      <div class="top_note"><%= room.summary %></div>
      </div>
     </a>
   
  <%end%>
 </div>

 <div id="passwordModal" class="modal" style="display: none;">
 <div class="modal-content">
 <span class="close">&times;</span>
 <h2 style="color: white;">ルームのパスワードを入力</h2>
 <input type="password" class="roomPassword" placeholder="パスワードを入力" />
 <button id="submitPassword">入室</button>
 </div>
</div>