<body>
 <div class="top_body">
  <% @rooms.each do |room|%>
  <a href="<%= room_path(room)%>" class="top_content">
    <div class="top_leftbox">
     <div class= "top_image">
     <%= image_tag room.image_rooms if room.image_rooms.attached? %>
     </div>
     </div>
      <div class="top_rightbox">
       <div class="room_name">
        <%= room.room_name %>
       </div>
       <div class="top_right_under">
       <div class="room_contact">
      <%= "SNS:#{room.contact}"%>
       </div>
       <div class="room_orner">
        <%= room.orner %>
       </div>
      </div>
      </div>
     </a>
   
  <%end%>
 </div>
</body>
