<div class="room_top">
<div class="room_left">
<%= @room.room_name %></br>
</br>
<% if current_user.join1 == @room.id || current_user.join2 == @room.id || current_user.join3 == @room.id %>
	<%= link_to "プロフィールを編集する", edit_room_user_path(@room.id, @user.id)%></br>
	<%= link_to "ゲームを登録する", new_room_user_game_path(@room, @user) %></br>
  <%= link_to "ゲーム一覧", room_user_games_path(@room, @user) %></br>
  <%= link_to "メンバー一覧", room_users_path(@room) %></br>
  <%= link_to "自分の予定を登録する", new_room_user_ownplan_path(@room, @user) %></br>
  <%= link_to "今週の予定を作成する", room_user_groupschedules_path(@room, @user) %></br>
  <%= link_to "遊んだゲームを記録する", played_check_room_user_game_path(@room, @user) %></br>
  <% if current_user.id == @room.creator_id %>
    <%= link_to "ルームを編集する", edit_room_path(@room) %></br>
		<% end %>
<%else %>
<%= link_to "ルームに参加する", edit_room_user_path(@room.id, @user.id)%></br>
<% end %>

<%= link_to "トップに戻る",root_path %></br>
</div>


<div class="room_right">
<% if Groupschedule.where(room_id: @room.id).exists? && ScheduleData.where(room_id: @room.id).exists? %>

<h1 style="width: 100%; margin: 0;">今週の予定</h1>
<% (0..6).each do |n| %>
		<% @groupschedules_with_member = @groupschedules.where(day: n + 1) %>
		<% @groupschedules_with_game = @planning_games.where(day: n + 1) %>
		<% if @groupschedules_with_member.any? %>
  <div class="right_schedules">
    <div class="list_day">
      <% japanese_days = ["日", "月", "火", "水", "木", "金", "土"] %>
      <% base_date = @target_week_dates.first %>
      <h4><%= (base_date + n).strftime('%Y年%m月%d日') %> (<%= japanese_days[(base_date + n).wday] %>) の予定　※クリックで非表示</h4>
    </div>
		<div class="pull_down" style="display: block;">
    <div class="right_schedule_contents">
		  日中〜<br>
			<% @time_key = "daytime" %>
  		<%= render partial: 'schedules', locals: {groupschedules_with_member: @groupschedules_with_member, groupschedules_with_game: @groupschedules_with_game,time_key: @time_key } %>
	<br>20時〜
			<% @time_key = "20pm" %>
  		<%= render partial: 'schedules', locals: {groupschedules_with_member: @groupschedules_with_member, groupschedules_with_game: @groupschedules_with_game,time_key: @time_key } %>
	<br>21時〜
			<% @time_key = "21pm" %>
  		<%= render partial: 'schedules', locals: {groupschedules_with_member: @groupschedules_with_member, groupschedules_with_game: @groupschedules_with_game,time_key: @time_key } %>
	<br>22時〜
			<% @time_key = "22pm" %>
  		<%= render partial: 'schedules', locals: {groupschedules_with_member: @groupschedules_with_member, groupschedules_with_game: @groupschedules_with_game,time_key: @time_key } %>
		</div>
    </div> <!-- right_schedule_contents の end -->
  </div> <!-- right_schedules の end -->
	<% end %> <!-- @groupschedules_with_day.any? の end -->

<% end %> <!-- (0..6).each do |n| の end -->

</div>

</div>
<% else %>
<h1>今週の予定はまだ決まっていません</h1>
<% end %>
</div>
</div>




