<body>
<div class="room_top">
<div class="room_left">
<%= @room.room_name %></br>
</br>
<% if current_user.join1 == @room.id || current_user.join2 == @room.id || current_user.join3 == @room.id %>
	<%= link_to "プロフィールを編集する", edit_room_user_path(@room.id, @user.id)%></br>
<%else %>
<%= link_to "ルームに参加する", edit_room_user_path(@room.id, @user.id)%></br>
<% end %>
<%= link_to "ゲームを登録する", new_room_user_game_path(@room, @user) %></br>
<%= link_to "ゲーム一覧", room_user_games_path(@room, @user) %></br>
<%= link_to "メンバー一覧", room_users_path(@room) %></br>
<%= link_to "自分の予定を登録する", new_room_user_ownplan_path(@room, @user) %></br>
<%= link_to "今週の予定を作成する", room_user_groupschedules_path(@room, @user) %></br>
<%= link_to "遊んだゲームを記録する", played_check_game_path %></br>
<% if current_user.id == @room.creator_id%>
<%= link_to "ルームを編集する", edit_room_path(@room)%></br>
<% end %>
<%= link_to "ルームのトップに戻る",room_path(@room)%></br>
</div>
<div class="room_right">
<h1><スケジュール一覧を表示する><h2>
</div>
</div>
</body>