<!DOCTYPE html>
<html>
  <head>
    <title>BG_cafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">BG_cafe</a></h1>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
          <div> <%= current_user.nickname %>
            <ul class="user__info">
              <li>
                <%= link_to "マイページ", check_user_path(current_user) %>
                <%= link_to "ログアウト", destroy_user_session_path, onclick: "event.preventDefault(); document.getElementById('logout-form').submit();" %>
                <%= form_with(url: destroy_user_session_path, method: :delete, id: 'logout-form', style: 'display: none;') do %>
                <% end %>
              </li>
            </ul>
          </div>
          <%= link_to "ルーム作成", new_room_path, class: "post" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
   
  </body>
</html>